.ItemOverlay {
  display: none;
}

.ItemOverlayShow {
  display: block;
}
.Item {
  padding: 20px;
}

@media only screen and (max-width: 1000px) {
  .Item {
    padding: 10px;
    border: 2px solid #12080836;
    margin-bottom: 10px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc;
  }
  .PickWrapper {
    padding: 10px;
  }
}
@media only screen and (max-width: 763px) {
  .PickWrapper {
    padding: 50px;
  }
  .Item {
    margin-bottom: 20px;
  }
  .Item img {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 512px) {
  .PickWrapper {
    padding: 30px;
  }
}
@media only screen and (min-width: 763px) {
  .Item {
    width: 31%;
  }
}
@media only screen and (min-width: 1000px) {
  .Item {
    width: 23%;
  }
}
